$ids-blue: #5CA4F4;
$ids-gray: #95A3B1;
$ids-white: #FFFFFF;
$ids-dark-blue: #4B85C6;
$ids-light-blue: rgba(166, 208, 255, 0.7);
$ids-cards-bg: #A6D0FFB2;
$ids-disabled: #5CA4F433;
$ids-planCard-bg: #A6D0FF36;